# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Dataset
data/

# Model checkpoint besar
outputs/*.pt
outputs/*.pth
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# Editor
.vscode/
.idea/
